*
!.gitignore

!.zshrc
!.zprofile

!apps/
!apps/*

!.claude/
!.claude/settings.json
!.claude/CLAUDE.md

!.codex/
!.codex/config.toml
!.codex/AGENTS.md

!.config/
!.config/nvim/
!.config/nvim/init.lua

!Library/
!Library/Application Support/
!Library/Application Support/com.mitchellh.ghostty/
!Library/Application Support/com.mitchellh.ghostty/config
